body {
    margin: 0;
    padding: 0;
}

.img {
    width: 450px;
    height: 450px;
    margin-top: 130px;
    margin-left: 690px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}

.inner-circle {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


